<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Unbounded:wght@200..900&display=swap");

    .bgimage {
      margin-top: 13vh;
      margin-left: 65vw;
      min-height: 500px;
      min-width: 500px;
      background-image: url("{% static 'reverse-face-search.svg' %}");
      background-position: 90%;
      background-repeat: no-repeat;
      position: fixed;
    }


    body {
      user-select: none;
    }

    .section2 {
      font-family: "Unbounded", sans-serif;
    }

    .upperbar {
      z-index: 4;
    }

    .no-filter:hover .invert {
      filter: none;
    }
  </style>
</head>

<body>
  <div class="bgimage"></div>
  <div class="w-full h-full bg-[#010409] p-2">
    <div class="section1 flex justify-center items-center">
      <div
        class="upperbar w-[80%] shadow-md shadow-slate-500 h-16 bg-gray-800 bg-opacity-100 rounded-full mt-4 flex justify-between items-center p-4">
        <div>
          <img src="{% static 'scan.svg' %}" class="w-10 h-10 text-white" alt="Scan User" />
        </div>
        <div class="font-bold flex items-center justify-center gap-4">
          <a href="{% url 'login' %}">
            <div
              class="h-12 w-24 flex items-center justify-center rounded-full border-2 border-slate-200 bg-transparent text-white duration-200 hover:bg-slate-200 hover:text-black hover:scale-[105%]">
              <h2>User</h2>
            </div>
          </a>
          <a href="{% url 'serviceproviderlogin' %}">
            <div
              class="h-12 w-24 flex items-center justify-center rounded-full border-2 border-slate-200 bg-transparent text-white duration-200 hover:bg-slate-200 hover:text-black hover:scale-[105%]">
              Remote
            </div>
          </a>

        </div>
      </div>
    </div>
    <div class="section2 text-white mt-8 ml-16">
      <p class="mb-6 ml-36 text-[46px] [text-shadow:_0_6px_4px_rgb(99_102_241_/_0.8)]">Register here</p>
      <div class="w-full ml-24 rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <form class="space-y-4 md:space-y-6" method="POST" role="form">
            {% csrf_token %}
            <div>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 text-white">Username</label>
              <input type="text" name="username" id="email"
                class="border border-gray-600 text-gray-900 rounded-lg block w-full p-2.5 bg-gray-700 text-white"
                placeholder="example">
            </div>
            <div>
              <label for="password" class="block mb-2 text-sm font-medium text-gray-900 text-white">Password</label>
              <input type="password" name="password" id="password" placeholder="••••••••"
                class="border border-gray-600 text-gray-900 rounded-lg block w-full p-2.5 bg-gray-700 text-white"
                required="">
            </div>
            <div>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 text-white">Email</label>
              <input type="text" name="email" id="email"
                class="border border-gray-600 text-gray-900 rounded-lg block w-full p-2.5 bg-gray-700 text-white"
                placeholder="example@email.com">
            </div>
            <div>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 text-white">Address</label>
              <input type="text" name="address" id="email"
                class="border border-gray-600 text-gray-900 rounded-lg block w-full p-2.5 bg-gray-700 text-white">
            </div>
            <div>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 text-white">Gender</label>
              <input type="text" name="gender" id="email"
                class="border border-gray-600 text-gray-900 rounded-lg block w-full p-2.5 bg-gray-700 text-white">
            </div>
            <div>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 text-white">Mobile Number</label>
              <input type="text" name="phoneno" id="email"
                class="border border-gray-600 text-gray-900 rounded-lg block w-full p-2.5 bg-gray-700 text-white"
                placeholder="0000000000">
            </div>
            <div>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 text-white">Country</label>
              <input type="text" name="country" id="email"
                class="border border-gray-600 text-gray-900 rounded-lg block w-full p-2.5 bg-gray-700 text-white">
            </div>
            <div>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 text-white">State</label>
              <input type="text" name="state" id="email"
                class="border border-gray-600 text-gray-900 rounded-lg block w-full p-2.5 bg-gray-700 text-white">
            </div>
            <div>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 text-white">City</label>
              <input type="text" name="city" id="email"
                class="border border-gray-600 text-gray-900 rounded-lg block w-full p-2.5 bg-gray-700 text-white">
            </div>
            <button type="submit" name="submit1"
              class="w-full text-white hover:shadow-sm shadow-slate-200 hover:scale-[105%] border-2 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Register</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</body>

</html>