{% extends 'SProvider/Header.html' %}
{% block researchblock %}

<style>
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');
    body{
	background-color: #000000;
    }
    .menu table{
        width:100%;
        text-align:center;

    }

    .menu table td:hover{
         background:rgb(0,0,0);
    }

     .menu table td{
          background: #584b4f;
     }

     .menu table,.menu table th,.menu table td {
          border: ;
          border-collapse: collapse;
     }

     .menu table th,.menu table  td {
          padding: 15px;
     }
     .topic h1{
           color:white;
           padding:2px;
           text-align:center;
           border-style:none;
           height:100px;
           width:1330px;
           float:left;
     }
     #chartContainer{
            width: 1180px;
            margin-left: 180px;
            margin-top: -354px;
            position: fixed;
     }
     .sidemenu{
     margin-top: 118px;
     }
</style>


<script>
window.onload = function() {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: ""
	},
	data: [{
	{% if chart_type == "line" %}
		type: "line",
	{% elif chart_type == "pie" %}
		type: "pie",
	{% elif chart_type == "spline" %}
		type: "spline",
	{% endif %}
		startAngle: 240,
		yValueFormatString: "##0.00\"%\"",
		indexLabel: "{label} {y}",
		dataPoints: [
		{% for o in form %}
			{y: {{o.dcount}}, label: "{{o.names}}"},
		{% endfor %}
		]
	}]
});
chart.render();

}

</script>
<body>
<br>
<div class="topic">



<div class="sidemenu">
    <h3 style="color:white;margin-left:60px;margin-top:80px" class="underline font-bold"><a href="{% url 'charts1' 'pie' %}" >PIE CHART<br>
        <br>
        <br>
        <br>
      <br>
     </a><a href="{% url 'charts1' 'line' %}">LINE CHART</a></h3>
    <h3 style="color:white;margin-left:60px;margin-top:100px;"><a href="{% url 'charts1' 'spline' %}"></a></h3>
</div>
<div id="chartContainer" class="graph"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</div>

</body>
{% endblock %}